<footer class = 'footer'>
	<small>This site is made by Andrew Graham-Yooll</small>
	<nav>
		<ul>
			<li><%= link_to("Experiences", show_path) %></li>
			<li><%= link_to("Interests", "#") %></li>
			<li><%= link_to("Projects", projects_path) %></li>
			<li><%= link_to("Contact", contact_path) %></li>
		</ul>
	</nav>
</footer>